/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 10px;
  background:#ffffff;
  color:#000000;
}

h1 {
  font-style: italic;
  color: #373fff;
}
img#spidey {
  width:400px;
}
div.pictureFrame {
  background:black;
  text-align:center;
  padding:15px;
  border-radius:25px;
  width:400px
}
